@@ -14,7 +14,8 @@ html, body {
}

#nav ul {
    padding-top: 30px;
    padding-top: 35px;
    font-weight: 100;
}

#nav ul li {
@@ -44,18 +45,25 @@ html, body {
    cursor: pointer;
}

#home-wrapper {
#home-picture {
    width: 100%;
    height: 100%;
    height: 60%;
    background-image: url(../img/home-bg.jpg);
    background-size: cover;
}

#home-tabs {
    width: 100%;
    height: 40%;
    background-color: #fff7e8;
}

header {
    width: 100%;
    height: 80px;
    height: 90px;
    top: 0;
    position: fixed;
    z-index: 100;
}

.topHeader {
@@ -77,7 +85,8 @@ header {
    width: 70px;
    height: 70px;
    background-image: url(../img/header-logo.png);
    margin-top: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#header-wrapper {
@@ -91,6 +100,7 @@ header {
    width: 100%;
}

<<<<<<< HEAD
sup {
    vertical-align: super;
    font-size: smaller;
@@ -99,4 +109,47 @@ sup {
sub{
    vertical-align: sub;
    font-size: smaller;
}
\ No newline at end of file
}
=======
#tabs-wrapper {
    height: 100%;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.homeTab {
    width: 33.3333333333333%;
    height: 100%;
    float: left;
}

#tab-1 {
    background-color: #fff3de;
    transition: all .35s;
}

#tab-2 {
    background-color: #fff0d4;
    transition: all .35s;
}

#tab-3 {
    background-color: #ffecc9;
    transition: all .35s;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #2d2d33;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: white;
}

footer p {
    text-align: center;
}
>>>>>>> origin/master