html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
label,
legend,
p,
blockquote,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

abbr,
acronym {
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #2d2d33;
}

.verticalAlign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#nav ul {
    padding-top: 35px;
    font-weight: 100;
}

#nav ul li {
    list-style-type: none;
    display: inline;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    margin-left: 20px;
}

#nav ul a {
    color: whitesmoke;
    text-decoration: none;
}

#nav ul a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.accordion-content {
    padding: 10px;
    display: none;
    background-color: #fff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.25em;
    font-size: 1.15em;
    font-weight: 100;
}

.accordion-content p {
    padding-bottom: 1em;
}

.accordion-title {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #d9e6ee;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

#page-picture {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-color: grey;
}

.index-picture {
    background-image: url(../img/home-bg-compressor.jpg);
}

.video-picture {
    background-image: url(../img/video-bg-compressor.jpg);
}

.animation-picture {
    background-image: url(../img/animation-bg-compressor.jpg);
}

.content-picture {
    background-image: url(../img/content-bg-compressor.jpg);
}

.contact-picture {
    background-image: url(../img/contact-bg-compressor.jpg);
}

#home-tabs {
    width: 100%;
    height: 450px;
    background-color: #fff7e8;
}

header {
    width: 100%;
    height: 90px;
    top: 0;
    position: fixed;
    z-index: 100;
}

.topHeader {
    background: transparent;
    transition: all .35s;
}

.scrollHeader {
    background: rgba(0, 0, 0, .5);
    transition: all .35s;
}

#nav {
    float: right;
}

#header-logo {
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(../img/header-logo.png);
    background-size: cover;
    margin-top: 10px;
    cursor: pointer;
}

#header-wrapper {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#header-spacer {
    height: 80px;
    width: 100%;
}

#tabs-wrapper {
    height: 100%;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.homeTab {
    width: 33.3333333333333%;
    height: 100%;
    float: left;
    color: black;
    cursor: pointer;
}

#tab-1 {
    background-color: #fff3de;
    transition: all .35s;
}

#tab-1:hover {
    background-color: #fff8de;
    transition: all .35s;
}

#tab-2 {
    background-color: #fff0d4;
    transition: all .35s;
}

#tab-2:hover {
    background-color: #fff7d4;
    transition: all .35s;
}

#tab-3 {
    background-color: #ffecc9;
    transition: all .35s;
}

#tab-3:hover {
    background-color: #fff5c9;
    transition: all .35s;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #2d2d33;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: white;
}

footer p {
    text-align: center;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.tabcontentWrapper {}

.tabTitle {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 1.35em;
}

.tabBlurb {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.tab-image {
    cursor: pointer;
}

#page-title {
    color: whitesmoke;
    font-size: 3.5em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

#content {
    width: 100%;
    background: #fff7e8;
}

.content-wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.focusTitle {
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 100;
    text-transform: uppercase;
}

.focusParagraph {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25em;
    font-size: 1.15em;
    font-weight: 100;
    margin-bottom: 10px;
}

.closed {
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.open {
    border: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.areaTitle {
    font-family: "Raleway", sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.topPad {
    padding-top: 10px;
}

.showhide {
    float: right;
    letter-spacing: .3em;
}

.materials {
    margin-left: 1em;
    list-style: circle;
    padding-bottom: 1em;
}

.subcategory {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
}

.procedures {
    list-style-type: decimal;
    margin-left: 1.2em;
    padding-bottom: 1em;
}

#mobile-menu-button {
    display: none;
}

#contact-form {
    width: 500px;
    margin: 0 auto;
}

#contact-form label {
    font-family: "Raleway", sans-serif;
    font-size: 1.25em;
    font-weight: 100;
    text-transform: uppercase;
}

#contact-form input:not(:last-child) {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: 5px;
}

#contact-form input:not(:last-child):focus {
    border: 1px solid rgba(0, 0, 0, .35);
}

#contact-form input {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#contact-form input:last-child {
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 1.25em;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #408dd9;
    transition: .5s all;
    color: white;
    cursor: pointer;
}

#contact-form input:last-child:hover {
    background-color: #377fc6;
    transition: .5s all;
    cursor: pointer;
}

#contact-form textarea {
    margin-top: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: 5px;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    value:
}

#contact-form textarea:focus {
    border: 1px solid rgba(0, 0, 0, .35);
}

footer div p a {
    color: white;
    text-decoration: none;
}

footer div p a:hover {
    text-decoration: underline;
}
